@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Harmattan", serif !important;
  font-size: 18px !important;
}

.card-body {
  background-color: #fff;
  box-shadow: 0px 2px 5px #ccc;
}
